body{
    background: rgb(121,121,121);
    background: radial-gradient(circle, rgba(121,121,121,1) 0%, rgba(0,0,0,1) 100%);
}
.painel{
    width: 320px;
    height: 330px;
    background-color: white;
    margin: auto;
    border-radius: 30px;
    text-align: center;
    padding-top: 20px;
}
.gif {
    margin-left: -45px;
    padding-top: 20px;
}

.painel a{
    color: black;
}
